* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav img {
    height: 30px;
    width: 30px;
    display: flex;
    margin-top: 5px;
    margin-right: 15px;
    transition: all 2s ease;
}
nav img:hover {
    transform: rotate(720deg);
}
nav a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 15%;
    padding: 0.2rem;
    transition: all 0.2s ease;
}
nav a:hover {
    transform: scale(1.1);
    background-color: rgb(243, 2, 135);
    color: rgba(247, 247, 247, 0.753);
}
nav {
    background-color: rgba(223, 110, 223, 0.753);
    display: flex;
    width: 100vw;
    height: 8vh;
}
nav div {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
}
.index-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
   display: flex;
   width: 100vw;
   justify-content: center;
   margin-top: 1rem;
}
.h2-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}
.imagen-home {
    height: 10rem;
    width: 99vw;
    object-fit: cover;
    margin: 0.5vw;
    border-radius: 5px;
}
.section-home {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.2rem;
}
.section-imagen {
    height: 8rem;
    width: 10rem;
    display: flex;
    object-fit: cover;
    border-radius: 5px;
}
.parrafo-home {
    display: flex;
    width: 50vw;
    margin-left: 25vw;
}
footer {
    background-color: rgba(223, 110, 223, 0.753);
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-about {
    display: flex;
    justify-content:left;
    width: 98vw;
    align-items: center;
    margin-top: 0.5rem;
}
.img-about {
    height: 100px;
    width: 200px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5%;
}
.div-about p {
    display: inline-block;
    width: 30vw;
    margin-left: 1rem;

}
.img-contact {
    height: 16.2rem;
    width: 90%;
    object-fit: cover;
}
h3 {
    text-align: center;
}
.div-contact {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 5.5vh;
    align-items: end;
}
.div-contact a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(240, 8, 182);
}
.h2-information{
    text-align: center;
    margin: 0.5rem;
}
table, tr, td, th {
    border: 1px solid rgb(225, 10, 245);
    border-collapse: collapse;
    width: 50vw;
    height: 13vh;
    padding: 1rem;
    text-align: center;
}
.img-benefits {
    height: 100px;
    width: 200px;
    object-fit: cover;
}
.div-benefits {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.li-benefits {
    width: 25vw;
}
.li-benefits ul{
    margin-left: 1.2rem;
}